
:root {
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #ffc83c 30%, #00a464);
    --vp-home-hero-image-background-image: linear-gradient(-45deg, #ffc83c 30%, #00a464 70%);
    --vp-home-hero-image-filter: blur(200px)
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('../../public/fonts/Space_Grotesk/SpaceGrotesk-Bold.ttf');
    font-weight: Bold;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('../../public/fonts/Space_Grotesk/SpaceGrotesk-Light.ttf');
    font-weight: Light;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('../../public/fonts/Space_Grotesk/SpaceGrotesk-Medium.ttf');
    font-weight: Medium;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('../../public/fonts/Space_Grotesk/SpaceGrotesk-Regular.ttf');
    font-weight: Regular;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('../../public/fonts/Space_Grotesk/SpaceGrotesk-SemiBold.ttf');
    font-weight: SemiBold;
}

*:not(pre code):not(.language-blade) {
    font-family: 'Space Grotesk';
}

/* overriding */
.logo {
    height: 48px !important;
}

.VPMenu{
    min-width: 85px !important;
}

table {
    display: inline-table !important;
}

body {
    /* background: url('/images/background/docs-dark@tinypng.1bbe175e.png'); */
    /* background: 
    radial-gradient(
      circle at top left,
      rgba(255, 255, 255, 0.5), 
      transparent 100px
    ),
    radial-gradient(
      circle at top right,
      rgba(255, 255, 255, 0.5), 
      transparent 100px
    ),
    radial-gradient(
      at bottom left,
      rgba(255, 0, 255, 0.5), 
      transparent 400px
    ),
    radial-gradient(
      at bottom right,
      rgba(255, 100, 100, 0.5), 
      transparent 400px
    ); */
    
    /* background: radial-gradient(circle at 1.99% 34.98%, #C9FFBF, transparent 100%),radial-gradient(circle at 98.01% 43.03%, #ffefba, transparent 100%),radial-gradient(circle at 50% 50%, #9af3db, #9af3db 100%); */
    
    /* background: radial-gradient(circle at 25% 25%, rgba(0, 164, 100, 0.2), transparent),
                radial-gradient(circle at 75% 75%, rgba(244, 69, 56, 0.1), transparent),
                radial-gradient(circle at 50% 50%, rgba(255, 200, 60, 0.1), transparent),
                radial-gradient(circle at 10% 90%, rgba(77, 133, 193, 0.2), transparent); */
    
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
}

.dark body {
    /* dark bg*/
}

/** footer */
.VPFooter,
.VPNav.no-sidebar {
    border: 0 !important;
    background: rgba(255, 255, 255, 0.2) !important;
    padding: 5px !important;
}


.dark .VPFooter,
.dark .VPNav.no-sidebar {
    border: 0 !important;
    background: rgba(36, 36, 36, 0.2) !important;
    padding: 5px !important;
}

/** ./footer */

/** header */
.container > .title,
.container > .content,
.VPNavBar:not(.top) .content-body {
    background: transparent !important;
}
.VPNavScreen,
.VPNavBar:not(.has-sidebar) /*:not(.top)*/
{
    backdrop-filter: blur(7px) !important;
}

.VPNavBar:not(.has-sidebar) /*:not(.top)*/
{
    border: 0px solid rgba(255, 255, 255, 0.2) !important;
    border-radius: 50px;
    margin-top: 11px;
    margin: 7px 21px;
}

.VPNavScreen,
.VPNavBar:not(.has-sidebar):not(.top)
{
    background: rgba(255, 255, 255, 0.2) !important;
}

.VPNavScreen,
.dark .VPNavBar:not(.has-sidebar):not(.top)
{
    background: rgba(36, 36, 36, 0.2) !important;
}
/** ./header */

/** aside */
.aside-curtain {
    background: transparent !important;
}
/** ./aside */

/*************************************USE THE WORK*********************************************/

/**
   * Colors Theme
   * -------------------------------------------------------------------------- */

   :root {
    --vp-c-bg: var(--vp-c-white);
    --vp-c-bg-soft: var(--vp-c-white-soft);
    --vp-c-bg-mute: var(--vp-c-white-mute);
    --vp-c-bg-alt: var(--vp-c-white-soft);

    --vp-c-divider: var(--vp-c-divider-light-1);
    --vp-c-divider-light: var(--vp-c-divider-light-2);

    --vp-c-divider-inverse: var(--vp-c-divider-dark-1);
    --vp-c-divider-inverse-light: var(--vp-c-divider-dark-2);

    --vp-c-text-1: var(--vp-c-text-light-1);
    --vp-c-text-2: var(--vp-c-text-light-2);
    --vp-c-text-3: var(--vp-c-text-light-3);
    --vp-c-text-4: var(--vp-c-text-light-4);

    --vp-c-text-inverse-1: var(--vp-c-text-dark-1);
    --vp-c-text-inverse-2: var(--vp-c-text-dark-2);
    --vp-c-text-inverse-3: var(--vp-c-text-dark-3);
    --vp-c-text-inverse-4: var(--vp-c-text-dark-4);

    --vp-c-text-code: var(--vp-c-indigo-soft);

    --vp-c-brand: var(--vp-c-green);
    --vp-c-brand-light: var(--vp-c-green-light);
    --vp-c-brand-lighter: var(--vp-c-green-lighter);
    --vp-c-brand-dark: var(--vp-c-green-dark);
    --vp-c-brand-darker: var(--vp-c-green-darker);

    --vp-c-sponsor: #fd1d7c;
}

.dark {
    --vp-c-bg: var(--vp-c-black-soft);
    --vp-c-bg-soft: var(--vp-c-black-mute);
    --vp-c-bg-mute: var(--vp-c-gray-dark-3);
    --vp-c-bg-alt: var(--vp-c-black);

    --vp-c-divider: var(--vp-c-divider-dark-1);
    --vp-c-divider-light: var(--vp-c-divider-dark-2);

    --vp-c-divider-inverse: var(--vp-c-divider-light-1);
    --vp-c-divider-inverse-light: var(--vp-c-divider-light-2);

    --vp-c-text-1: var(--vp-c-text-dark-1);
    --vp-c-text-2: var(--vp-c-text-dark-2);
    --vp-c-text-3: var(--vp-c-text-dark-3);
    --vp-c-text-4: var(--vp-c-text-dark-4);

    --vp-c-text-inverse-1: var(--vp-c-text-light-1);
    --vp-c-text-inverse-2: var(--vp-c-text-light-2);
    --vp-c-text-inverse-3: var(--vp-c-text-light-3);
    --vp-c-text-inverse-4: var(--vp-c-text-light-4);

    --vp-c-text-code: var(--vp-c-indigo-lighter);
}
